<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Posts Tagged as <%= @tag.name %></h1>
			<% if @posts.count > 0 %>
			<ul>
				<% @posts.each do |post| %>
				<li><%= link_to post.title, post_path(post) %> - <%= post.city.name %></li>
				<% end %>
			</ul>
			<% else %>
			<p>This tag is not associated with any posts.</p>
			<% end %>
		</div>
	</div>
</div>