
<% if @cities.any? %>
			<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2>Whtever</h2>
				<hr>
			</div>
		</div>
	</div>

	<% @cities.each do |city|  %>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<%= link_to("/#{city.slug}") do %>
				  <strong><%= city.name %></strong>
				  <%= image_tag city.image, {height: 200} %>
				<% end %>
			</div>
		</div>
	</div>

	<% end %>

<% end %>

