<h1><%= @city.name %></h1>
<%= image_tag @city.image, {height: 500} %>

<% @city.posts.each do |post|  %>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<strong>Title: </strong><%= post.title %>
				<br>
				<strong>Body: </strong><%= post.body %>
				<br>
				<br>
			</div>
		</div>
	</div>
<% end %>
