/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	margin-top: 53px;
 	font-family: 'Open Sans', sans-serif;
 	padding: 0;
 }

a.btn {
margin-left:10px;
margin-right: 5px;
}

.thumbnail {
	display: inline;
}

.panel-title.username {
	display: inline;
}

.jumbotron {
	z-index: -1;
	height: 400px;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-color: rgba(0,0,0,1);
}

.jumbotron-overlay {
    /*z-index: -1;*/
    height: 450px;
    width: 100%;
    position: fixed;
    /*overflow: hidden;*/
    top: 0px;
    /*left: 0px;*/
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
}

#city-name {
	z-index: 1;
	font-weight: 600;
	color: white;
	font-size: 80px;
	margin-top: 105px;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

.navbar-thumb {
	height: 22px;
	width: 22px;
}

#profile-header {
	display: inline-block;
}

#edit-profile-button {
	margin-top: 20px;
}

#map-container {
	padding: 0;
	margin: 0;
	/*margin-top: -57px;*/
	height: calc(100vh - 57px);
}








